In [11]:
#1. print 0 to 20 by using range
for a in range(0,20):
    print(a)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [15]:
#2.Print range 10 to 20
for a in range(10,20):
    print(a,end=" ")

10 11 12 13 14 15 16 17 18 19

In [19]:
#print number of items in the list using 'len'
a=[10,20,14,55,43,87,76]
print(len(a))

7

In [54]:
words=input("enter words:")
print(words)
for ch in words:
    if ch == " ":
        print()
    else:
        print(ch)

enter words: Artificial intilligance

Artificial intilligance
A
r
t
i
f
i
c
i
a
l

i
n
t
i
l
l
i
g
a
n
c
e

In [1]:
name = input("- Your Name-")
age = input("- Your age-")
profession = input(" Your Profession-")
print(name,age,profession)

- Your Name- abc
- Your age- 25
 Your Profession- xyz

abc 25 xyz

In [5]:
tup =(1 ,'Welcome', 2 ,'Hope')
print(tup)

(1, 'Welcome', 2, 'Hope')

In [11]:
tuple=(1 ,'Welcome', 2 ,'Hope')
tuple1=(0,1,2,3)
tuple2=(tuple1,tuple)
print(tuple2)

((0, 1, 2, 3), (1, 'Welcome', 2, 'Hope'))

In [35]:
# print Odd Numbers in the list
a=(20,10,16,19,25,1,276,188)
for x in a:
    c= x%2
    if(c!=0):
        print(x,"is odd")

19 is odd
25 is odd
1 is odd

In [37]:
# print Even numbers in the list
a=(20,10,16,19,25,1,276,188)
for x in a:
    c= x%2
    if(c==0):
        print(x,"is even")

20 is even
10 is even
16 is even
276 is even
188 is even